<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud-nodejs-express</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <script src="/main.js"></script>
    <h1>CRUD: NodeJS-Express-MongoDB</h1>
    <!--The FORM-->
    <form action="/quotes" method="post">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
        <hr>
        <!--Darth Vader Function-->
        <div>
            <h2>Darth Vadar invades!</h2>
            <p>
              Replace first Yoda's quote with a quote written by Darth Vadar
            </p>
            <button id="update-button">Replace Yoda's quote</button>
          </div>
        <hr>
        <!--Quotes Listing-->
        <h2> Quotes </h2>

        <ul class="quotes">
            <!-- Loop through quotes -->
            <% for(var i=0; i < quotes.length; i++) {%>
                <li class="quote">
                    <!-- Output name from the iterated quote object -->
                    <span>
                        <%= quotes[i].name %>
                    </span>:
                    <!-- Output quote from the iterated quote object -->
                    <span>
                        <%= quotes[i].quote %>
                    </span>
                </li>
                <% } %>
        </ul>
    </form>
</body>

</html>