h1{
    color: white;
    font-size: 2.5em;
    font-weight: 600;
    text-shadow: 3px 3px black;
    border: ridge red 6px;
    border-radius: 36px;
    background: #b8c1d1;
    padding: 5px 20px;
    text-align: center;
}